nav {
    position: fixed;
    height: 100%;
    top: 0;
    width: 0;
    left: 0;

    transition: 0.5s;
    z-index: 1;
    /* z-index property specifies the stack order of an element. */
    overflow-x: hidden;
    /* Overflow specifies what should happen if 
                           content overflows an element's box. */
    background-color: rgb(0, 0, 0);
}

.menu {
    margin-left: -50px;
    margin-top: 30px;

    display: flex;
    justify-content: flex-start;
    gap: 110px;
}
.menu a {
    display: flex;
    gap: 23px;
    margin-left: 75px;

    text-decoration: none;
    font-size: 25px;
    color: #979797;
}

.menu-type2 {
    margin-top: 30px;

    transform: rotate;
    -webkit-transform: rotate(-180deg);
    font-size: 36px;   
}
.menu-type2 a {
    margin-right: 230px;
    margin-left: 30px;

    text-decoration: none;
    color: #979797;
}

/*  !RECUNTRUCTION ONGOING!

nav a:not(#nav a), .openNav {
    margin-left: 25px;
    margin-top: 30px;
    font-size: 25px;
    color: #979797;
    font-family: "Lato", sans-serif;
    
    display: flex;
    flex-wrap: nowrap;
    gap: 23px;

    transition: 0.5s;
    cursor: pointer;
}
nav a:not(#nav a) {
    margin-left: 75px;
    margin-top: 30px;
    text-decoration: none;
    white-space: nowrap;
}

.openNav div a, .menu a, .homebtn a {
    margin-left: 25px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 25px;
    color: #979797;
    display: block;
    transition: 0.5s;
    font-family: "Lato", sans-serif;
    
    display: flex;
    gap: 23px;
    margin-left: 75px;
    white-space: nowrap;
}
    !RECUNTRUCTION ONGOING! */


/* HOVER THEME */
/* .openNav div:hover, .openNav a:hover, 
.menu a:hover, .menu-type2 a:hover, 
.homebtn a:hover */.openNav div:hover img{
    background-color: aqua;
}

.openNav {
    margin-left: 25px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 23px;

    cursor: pointer;
    
    font-size: 25px;
    font-family: "Lato", sans-serif;
    color: #979797;
}
.openNav span {
    margin-left: 23px;
}
.openNav-short {
    margin-left: 75px;
}
.openNav-short a {
    text-decoration: none;
    color: #979797;
}

/* NEW BUILD */

.credit {
    position: absolute;
    margin-bottom: 150px;
    margin-left: 100px;
    bottom: 0;

    font-size: 11px;
}

.credit a {
    white-space: nowrap;
    text-decoration: none;
    color: #979797;
}

.homebtn {
    position: absolute;
    margin-left: -50px;
    margin-bottom: 25px;
    bottom: 0;

    font-size: 25px;
}

.homebtn a {
    margin-left: 75px;

    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #979797;
}

@media screen and (max-height: 450px) {
    nav {
        padding-top: 15px;
    }

    nav a {
        font-size: 18px;
    }
}