body {
    font-family: "Lato", sans-serif;
}
h2 {
    font-size: 3.6vw;
}

.main {
    margin-left: 75px;
    text-align: center; /* align horizontal */
}

.headline {
    font-size: 15vw; 
}
.headline2 {
    margin-top: -12vw;
    margin-left: -6vw;
}

.info {
    margin-top: 230px;
}