body {
    font-family: "Lato", sans-serif;

    background-image: url(media/bg1x.jpg);
    /* COMMERCIAL USE CC */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 2000px) {
    body {
        background-image: url(media/bg2x.jpg);
        /* COMMERCIAL USE CC */
    }

    ;
}

h2 {
    font-size: 2.4vw;
}

main {
    margin-left: 75px;

    text-align: center;
    /* align horizontal */
}

.head h1,
.head h2 {
    transition: 1.2s;
}

.head:hover h1,
.head:hover h2 {
    cursor: pointer;

    color: #a200ff;
}

.headline {
    margin-top: 250px;

    color: rgb(0, 0, 0);
    font-size: 10vw;
}

.headline2 {
    margin-top: -8.5vw;
    margin-left: -5vw;

    color: rgb(0, 0, 0);
}

.info {
    margin-top: 230px;
}

/* THIS IS A TEST */