/*
body {
    font-family: "Lato", sans-serif;
}
h2 {
    font-size: 3.6vw;
}

.main {
    margin-left: 75px;
    text-align: center;
}

.headline {
    font-size: 15vw; 
}
.headline2 {
    margin-top: -12vw;
    margin-left: -6vw;
}

.info {
    margin-top: 230px;
}

*/

/* New code */

body {
    font-family: "Lato", sans-serif;

    background-image: url(media/bg1x.jpg);
    /* COMMERCIAL USE CC */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 2000px) {
    body {
        background-image: url(media/bg2x.jpg);
        /* COMMERCIAL USE CC */
    }

    ;
}

h2 {
    font-size: 2.4vw;
}

.main {
    margin-left: 75px;

    text-align: center;
    /* align horizontal */
}

.headline {
    margin-top: 250px;

    color: rgb(255, 255, 255);
    font-size: 10vw;
}

.headline2 {
    margin-top: -8vw;
    margin-left: -5vw;

    color: rgb(255, 255, 255);
}

.info {
    margin-top: 230px;
}

/* THIS IS A TEST */